// Primary Colors
$primary-100: #F0F9FF;
$primary-200: #E4F2FF;
$primary-300: #CEE3FF;
$primary-400: #9EC7FE;
$primary-500: #70AEFF;
$primary-600: #518DDB;
$primary-700: #2E69B6;
$primary-800: #144789;
$primary-900: #0C3262;

// Neutral Colors
$neutral-100: #FFFEFE;
$neutral-200: #F9F9F9;
$neutral-300: #F3F3F3;
$neutral-400: #E3E3E3;
$neutral-500: #A2A2A2;
$neutral-600: #7F7F7F;
$neutral-700: #454545;
$neutral-800: #242424;
$neutral-900: #0C0C0C;

// Error Colors
$error-100: #FEE7E4;
$error-200: #FDAC9F;
$error-300: #F06D57;
$error-400: #D73F28;
$error-500: #A73321;

// Green
$green-500: #B9FFAE;
// Success Colors
$success-100: #CFF1E9;
$success-200: #86D7C3;
$success-300: #32B695;
$success-400: #1F9577;
$success-500: #0F5F4B;

// Warning Colors
$warning-100: #FAF0CD;
$warning-200: #FFE689;
$warning-300: #FFDE66;
$warning-400: #DAB93E;
$warning-500: #A68A20;

// Gradient
$gradient: linear-gradient(45deg, #CFF1E9, #FEE7E4, #E9E9FC);



// Red
// Vulcano
// Orange
// Gold
// Yellow
// Lime
// Green
// Cyan
// Blue
// Purple
// Magenta

// Neutral Color Pallete

