// Primary Colors
$primary-100: #EAF4FC;
$primary-200: #D3E9FE;
$primary-300: #B0CAEB;
$primary-400: #83A9DA;
$primary-500: #5688C9;
$primary-600: #275B9D;

// Neutral Colors
$neutral-100: #FFFEFE;
$neutral-200: #F8F8F8;
$neutral-300: #EDEDED;
$neutral-400: #D6D6D6;
$neutral-500: #BBBBBB;
$neutral-600: #73777B;
$neutral-700: #404040;

// Error Colors
$error-100: #FEE7E4;
$error-200: #FDAC9F;
$error-300: #F06D57;
$error-400: #D73F28;
$error-500: #A73321;

// Success Colors
$success-100: #CFF1E9;
$success-200: #86D7C3;
$success-300: #32B695;
$success-400: #1F9577;
$success-500: #0F5F4B;

// Warning Colors
$warning-100: #FAF0CD;
$warning-200: #FFE689;
$warning-300: #FFDE66;
$warning-400: #DAB93E;
$warning-500: #A68A20;

// Gradient
$gradient: linear-gradient(45deg, #CFF1E9, #FEE7E4, #E9E9FC);
