@use '../../../styles/scss/abstract/color' as *;
@use '../../../styles/scss/base/variable' as *;


$breakpoint-alpha: 480px; // adjust to your needs

table {
  border: 1px solid $neutral-500; /* Set the border color here */
  min-width: 300px; // adjust to your needs
  border-spacing: 0;
  border-radius: $base-border-radius-md;
  overflow: hidden;
  
  thead {
    background-color: $neutral-200;
    tr {
      th {
        border-bottom: 1px solid $neutral-500;
      }
    }
  }
  tbody {
    background-color: $neutral-100;
  }
  tr {
    &:last-child {
      td {
          border-bottom: none;
      }
    }
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block;
    border-bottom: 1px solid $neutral-500;
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }
  }
  
  th, td {
    text-align: left;
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: $pading-md;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
