@use '../../styles/scss/abstract/color' as *;
@use '../../styles/scss/base/variable' as *;

.side-menu {
  position: fixed;
  top: 10%; /* Prilagodite gornji položaj da bi se uklopio visina fiksne navigacije */
  left: 0;
  display: flex;
  width: inherit;
  height: 100%;
  overflow-y: auto;
  p {
    font-weight: bold;
  }
  .pregled {
    font-weight: bold;
  }
  .menu-items {
    width: 100%;
    list-style: none;
    padding: 0 48px;
    margin: 0;
    .menu-item {
      padding: 4px 0px 4px 12px;
      margin: 8px 0;
      border-radius: 8px;
      a {
        text-decoration: none;
        color: $neutral-600;
        display: block;
      }

      &:hover {
        background-color: $neutral-200;
        a {
          color: $primary-400;
        }
      }
    }

  }  

  .active {
    font-weight: 500;
    color: $primary-500 !important;
  }

}