@use '../../styles/scss/abstract/color' as *;
@use '../../styles/scss/base/variable' as *;

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 200px;
  box-sizing: content-box;
  
  .menu-container {
    box-sizing: border-box;
    position: fixed;
    top: 100px;
    left: 0;
    margin-bottom: 150px;
    width: fit-content;
    height: 100%;
    overflow-y: scroll;
    .menu-item, .menu-title {
      padding: 0 24px;
      width: auto;
    }

  }


  p {
    font-weight: bold;
  }
  .pregled {
    font-weight: bold;
  }
  .menu-item {
    a {
      text-decoration: none;
      color: $neutral-600;
      display: flex;
      gap: 6px;
      align-items: center;

    }
    img {
      height: 21px !important;
      width: 21px !important;
    }
    &:hover {
      background-color: $neutral-200;
      a {
        color: $primary-400;
      }
    }
  }
  .menu-title {
    margin: 13px 0px 0px 0px;
    a {
      text-decoration: none;
      color: $neutral-600;
      display: block;
    }
  }  

  .active {
    font-weight: 500;
    color: $primary-500 !important;
  }

}