@use '../abstract/color' as *;
@use '../base/variable' as *;

// COMPONENT STYLES
@mixin Button {
  padding: 6px 14px;
  border: none;
  border-radius: $base-border-radius-md;
  cursor: pointer;
  text-transform: uppercase;

  font-family: Sofia Sans;
  color: $primary-600;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.07em;
  text-align: left;
}

.button.primary {
  @include Button();
  background-color: $primary-100;

  &:hover {
    box-sizing: border-box;
    box-shadow: $shadow-sm;
    background-color: $primary-200;
  }
  &:focus {
    box-shadow: $shadow-sm; 
    background-color: $primary-200;
  }
  &:disabled {
    background-color: $neutral-300;
    color: $neutral-500;
    cursor: not-allowed;
    box-shadow: none;
  }
}

.button.secondary {
  @include Button();
  background-color: transparent;
  color: $primary-600;
  border: 2px solid $primary-300;

  &:hover {
    background-color: $neutral-100;
    box-shadow: $shadow-sm;
    color: $primary-600;
    border: 2px solid $primary-300;
  }
  &:focus {
    background-color: $neutral-100;
    box-shadow: $shadow-sm;
    color: $primary-600;
    border: 2px solid $primary-300;
  }
  &:disabled {
    background-color: transparent;
    color: $neutral-300;
    border: 2px solid $neutral-300;
    cursor: not-allowed;
  }
}

.button.link {
  @include Button();
  background-color: transparent;
  color: $primary-400;

  &:hover {
    background-color: transparent;
    color: $primary-600;
    text-decoration: underline;
  }
  &:focus {
    background-color: transparent;
    color: $primary-600;
    text-decoration: underline;
    
  }
  &:disabled {
    background-color: transparent;
    color: $neutral-500;
    text-decoration: none;
    cursor: not-allowed;
  }
}