@use '../abstract/color' as *;
@use '../base/variable' as *;

.tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-row {
  display: flex;
  border: $base-border-thickness solid $neutral-700;
  border-radius: 50px;
  outline: auto;
}

.tab-option {
  background: white;
  color: black;
  padding: 4px;
  cursor: pointer;

  &.active {
    background: lightblue;
    color: darkblue;
  }

  &:hover {
    color: lightblue;
  }

  &:not(:last-child) {
    border-right: 1px solid black;
  }
  &:first-child {
    border-radius: 50px 0 0 50px;
  }

  &:last-child {
    border-radius: 0 50px 50px 0;
  }
}
