@use '../../styles/scss/abstract/color' as *;
@use '../../styles/scss/base/variable' as *;

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: $neutral-500;
    border-radius: 99px;
  }

  .vertical-line {
    width: 1px;
    height: auto;
    background-color: $neutral-500;
    border-radius: 99px;
  }