@use '../../styles/scss/abstract/color' as *;
@use '../../styles/scss/base/variable' as *;

// Mixins
@mixin checkbox-base {
    width: 1.2em;
    height: 1.2em;
    border-radius: 4px;
    box-sizing: border-box;
}
@mixin checkboxInput {
    @include checkbox-base();
    position: absolute;
    top: 2px;
    left: 5px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    background-color: $success-200;
}
@mixin checkboxCheckmark {
    @include checkbox-base();
    transition: background-color 0.3s ease-in-out;
    &:after {
        content: "";
        position: absolute;
        display: none;
        left: 3px;
        top: 1.5px;
        width: 3px;
        height: 7px;
        border: solid $success-400;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }   
}



.checkbox-container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.checkbox {
    @include checkbox-base();
    background-color: $primary-100;
    position: relative;
    cursor: pointer;
    margin-right: 8px;

    &:checked .checkmark::after {
        display: block;
        background-color: $primary-200;
    }

    &--disabled {
        background-color: $neutral-300;
        cursor: not-allowed;
    }

    &--error {
        background-color: $error-100;
    }

    &:hover {
        background-color: $primary-300;
    }

    &--active {
        background-color: $primary-250;
    }

    // input {
    //     @include checkboxInput(); 
    // }
    input[type="checkbox"] {
        @include checkboxInput(); 
      }
      

    .checkmark {
        @include checkbox-base();
        transition: background-color 0.3s ease-in-out;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 8px;
            top: 4px;
            width: 3px;
            height: 8px;
            border: solid $success-400;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
    input:checked ~ .checkmark {
        background-color: $primary-200;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }
}

  