@use 'variable' as *;
@use 'mixin' as *;
@use '../abstract/color' as *;

body {
    background-color: $neutral-100;
    margin: $base-margin;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;;
}
main {
    display: flex;
    width: 100%;
}


img, iframe, object, embed, video {
	width: 100%;
	max-width: 100%;
}
img {
    width: 50px;
    height: auto;
    object-fit: cover;
}
a {
    text-decoration: underline;
}
article {
    height: auto;
}
div {
    height: auto;
}

.padding {
    padding: $base-padding;
}

.content {
    position: relative;
    top: 12vh; /* Adjust top position to accommodate the fixed navbar height */
    left: 0;
    margin-bottom: 150px;
}




.test {
    width: 300px;
    height: 300px;
    background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  