// spacing
$base-padding: 1.5rem;
$base-margin: 1.5rem;
$base-gap: 0.75rem;

$base-lineHeight: 0;

// borders
$base-border-thickness: 1px;

$base-border-radius-sm: 8px;
$base-border-radius-md: 12px;
$base-border-radius-lg: 24px;

// box-shadow
$base-box-shadow: 1px 3px 30px rgba(52, 52, 52, 0.15);


// font-sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;

// z-index
$layer-0: 0;
$layer-1: 100;
$layer-2: 200;
$layer-3: 300;

// shadow
$shadow-sm:  6px 6px 15px 0px rgba(61, 71, 86, 0.102);
$shadow-lg: 1px 10px 30px 0px rgba(0, 0, 0, 0.102);
$shadow-primary: 3px 3px 12px 0px rgba(131, 169, 218, 0.4);

